@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$red-palette,
        tertiary: mat.$rose-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: dark;
  background-color: #0a0505;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

mat-card {
  border-radius: 10px !important;
}
